body
{
	background: white none repeat scroll 0 0;
	color: #000000;
	font-family: Verdana,Lucida Grande,Lucida Sans Regular,Lucida Sans Unicode,Arial,sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
a
{
	font-weight: bold;
	color: #707070;
	text-decoration: underline;
}
a:hover
{
	color: #2a5a8a;
	text-decoration: none;
}
a img
{
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
/*Tabs*/
/*begin creating the tabs */
.menu
{
	margin-left: 28px;
	background: url(../images/tab_bg.gif) repeat-x;
	font-size: 10px;
	font-weight: bold;
}
/* set tab1 as top level container table, then target TDs inside*/
.menuItem td
{
	color: #FFFFFF;
	height: 24px;
	background: url(../images/tab_dim.gif) no-repeat;
	width: 100px;
	text-align: center;
	z-index:10; 
}
.menuItem td table
{
	width:100px;
	position:relative; 
	table-layout:fixed; 
	}
/* make current tab gray,set the background-color also in case images are not on*/
.menuSelectedItem td
{
	background: url(../images/tab.gif) no-repeat #919191;
}
/* make link and visited the same look,set the background-color also in case images are not on*/
.menuItem a:link, .menuItem a:visited, .menuPopupItem a:link, .menuPopupItem a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
/* make hover by changing vertical position of background to -22px (the tab_dim2.gif is 44px high) */
.menuItem a:hover
{
	text-decoration: underline;
}

/* make drop down menu container style */
.menuPopup
{
	background: url(../images/background_drop_menu.jpg) repeat #8C9FB4;
	border: 1px solid #666666;
	border-bottom: none;
	color: #ffffff;
}

/* make drop down menu item style */
.menuPopupItem
{
	color: #ffffff;
	border-bottom: 1px solid #666666;
	padding: 3px;
}
.menuItemHover
{
	width:100px;
	position:relative;
	z-index:10;   
}
/*tabs end */
#submenu
{
background-color:#656565;	
}
ul#submenulist 
{float:right;
background:none repeat scroll 0 0 #ECECEC;
margin:0;
padding:7px 20px;	
}
ul#submenulist  li
{
	
	font-size: 12px;
	padding-bottom: 2px;
	margin: 1px 0px 1px 2px;
	color: #000000;
	line-height: 17px;
	padding: 2px 5px 2px 5px;
	border-bottom: #efefef 1px dotted;
	list-style-type: none;
	text-align:right;
	display:inline; 
}





#container
{
	margin: 0 auto;
	width: 900px;
	text-align: left;
}
#header
{
	width: 900px;
	color: #656565;
	height: 135px;
}

#logo
{
	float: left;
	width: 214px;
}
#logoright
{
	float: right;
	width: 686px;
}
#topbar1
{
	float: right;
	width: 600px;
}
.empty
{
	float: right;
	width: auto;
	color: #656565;
	height: 21px;
}
.empty A
{
	font-weight: normal;
	font-size: 11px;
	color: #656565;
	letter-spacing: 1px;
	text-decoration: none;
}
.empty A:hover
{
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
#navigation
{
	float: right;
	width: 100%;
	border-bottom: #E0E0E0 2px solid;
	height: 24px;
}
#navigation table
{
	float: right;
	text-align: right;
}
.dark-header
{
	border-top: #b2b2b2 1px solid;
	background-color: #f2f2f2;
}

.phoneNumbers
{
	font-size: 12px;
	color: #000000;
	line-height: 1.9;
}

General
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 12px;
	padding-bottom: 0px;
	margin: 0px;
	width: 100%;
	color: #000000;
	line-height: 18px;
	padding-top: 0px;
}
.General ul
{
	padding-right: 0px;
	padding-left: 0px;
	font-size: 11px;
	padding-bottom: 0px;
	margin: 0px;
	color: #000000;
	line-height: 18px;
	padding-top: 0px;
	text-align: left;
}
.General ul li
{
	padding-right: 0px;
	padding-left: 2px;
	font-size: 12px;
	padding-bottom: 2px;
	margin: 1px 0px 1px 2px;
	color: #000000;
	line-height: 17px;
	padding-top: 2px;
	border-bottom: #efefef 1px dotted;
	list-style-type: none;
	text-align: left;
}
.General ul li span
{
	background-position: 0px 2px;
	display: block;
	padding-left: 18px;
	font-size: 12px;
	background-image: url(/images/arrow.gif);
	margin-left: 6px;
	color: #000000;
	line-height: 17px;
	background-repeat: no-repeat;
	text-align: left;
}

#footer
{
	clear: both;
	border-top: #e0e0e0 1px solid;
	font-size: 12px;
	margin-left: auto;
	width: 900px;
	color: #626262;
	margin-right: auto;
	letter-spacing: -1px;
	height: 30px;
}
#footerlinks
{
	padding-right: 18px;
	padding-left: 8px;
	font-weight: normal;
	padding-bottom: 8px;
	padding-top: 5px;
	height: 15px;
}
#footerlinks A
{
	font-weight: normal;
	color: #626262;
	text-decoration: none;
}
#footerlinks A:hover
{
	font-weight: normal;
	color: #f5921e;
	text-decoration: none;
}
#footerright
{
	margin-top: 8px;
	float: right;
	margin-bottom: 8px;
	width: 360px;
	text-align: right;
}
.orange11
{
	color: #F5921E;
	font-size: 11px;
}
#maintextBox
{
	padding-right: 8px;
	padding-left: 24px;
	padding-bottom: 35px;
	margin-left: auto;
	width: 640px;
	margin-right: auto;
	padding-top: 0px;
	height: auto;
	text-align: left;
}
#form
{
	width: 571px;
	height: auto;
}
#fromtitleNew
{
	padding-right: 26px;
	padding-left: 0px;
	background: url(images/formtitle_top_bg2.gif) no-repeat;
	float: left;
	padding-bottom: 5px;
	width: 834px;
	padding-top: 5px;
	height: 26px;
}
.formBodyLeftNew
{
	padding-right: 10px;
	padding-left: 26px;
	background: url(images/form_body_bg2.gif) repeat-y;
	float: left;
	padding-bottom: 20px;
	width: 824px;
	padding-top: 20px;
	height: auto;
}
#fromtitle
{
	padding-left: 26px;
	background: url(images/formtitle_top_bg.gif) no-repeat;
}
#fromtitle H3
{
	font-weight: bold;
	font-size: 16px;
	color: #0073ae;
	font-family: "trebuchet ms" , arial, helvetica, sans-serif;
	letter-spacing: -1px;
}
#formBody
{
	padding-right: 10px;
	padding-left: 26px;
	background: url(images/form_body_bg.gif) repeat-y;
	padding-bottom: 20px;
	width: 540px;
	padding-top: 0px;
	height: auto;
}
#formBody li
{
	margin-bottom: 15px;
	list-style-type: none;
}
#formBody li a
{
	margin-bottom: 5px;
}
#formBottom
{
	background: url(images/formtitle_bottom_bg.gif) no-repeat;
	width: 571px;
	height: 12px;
}
#formBodycontact
{
	padding-right: 10px;
	padding-left: 26px;
	padding-bottom: 20px;
	width: 540px;
	padding-top: 20px;
	height: auto;
}
#formcontact
{
	background: url(images/formtitle_bottom_bg.gif) no-repeat;
	width: 571px;
	height: 12px;
}
#formBottomNew
{
	background: url(images/formtitle_bottom_bg2.gif) no-repeat;
	float: left;
	width: 860px;
	height: 12px;
}

#contentBox
{
	padding-right: 12px;
	margin-top: -4px;
	padding-left: 12px;
	padding-top: 3px;
}
#contentBox li
{
	padding-left: 10px;
	font-size: 12px;
	background: url(images/green_bullet.gif) no-repeat 0px 5px;
	margin: 3px 8px 8px 0px;
	color: #707070;
	line-height: 14px;
	list-style-type: none;
}
#contentBox li a
{
	font-weight: normal;
	font-size: 12px;
	color: #707070;
	line-height: 14px;
}
#contentBox li a:hover
{
	font-size: 12px;
	color: #f7990d;
	line-height: 14px;
}
.logininfo
{
	margin: 0 auto;
}
.border-header
{
	border-top: #e0e0e0 1px solid;
	padding-left: 15px;
	font-size: 14px;
	height: 40px;
	background-color: #fafafa;
	text-align: left;
	font-weight:bold;  
}
.border-header-date
{
	padding-right: 15px;
	border-top: #e0e0e0 1px solid;
	font-weight: normal;
	font-size: 11px;
	color: #000000;
	height: 40px;
	background-color: #fafafa;
	text-align: right;
}
